<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081326142299-o02khip7ifogm9vjftpe2a6e514n3old.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081326142299-o02khip7ifogm9vjftpe2a6e514n3old</string>
	<key>API_KEY</key>
	<string>AIzaSyDi_r3z-cs3q72up87rqVHux7oyNjMsBDA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081326142299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calculator.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-711fb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-711fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081326142299:ios:a4c19305d69c799caa907e</string>
</dict>
</plist>